.header{
    display: flex;
    justify-content: center;
}

.header_content{
    
    display: flex;
    justify-content: space-between;
    border-bottom: 0.7px #f9f9f9 solid;
    width: 90%;
}

.header__content_logo{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__content_navegation{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__navegation_nav{
    /* background-color: aqua; */

}

.navegation__list{
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
   
}

.navegation__list_item{
    /* margin: 0 1rem; */
}

.navegation__list_anchor{
    text-decoration: none;
    color: #f3f3f3;
    font-size: 1.2rem;
}

.header__content_logo_text{
    font-size: 43px;
}