.about{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1px #f9f9f9 solid;
    margin-top: 5rem;
}

.about_content{
    display: flex;
    margin: 0 5rem;
}


.about_wrapper{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.about_date {

}

.about_image{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 100%;
    margin: 1rem 0;
}



.about_description{
    width: 50%;
}

.about_description__content{
    margin: 0 5rem;
}

.about_location,
 .about_date {
    width: 100%;
}

.about_location_text, 
.about_date__text, 
.about_description__title,
.about_description__text {
    color: #fff;
    margin: 0;
    font-size: 24px;
}

.about_location{
    padding: 0 5rem;
}

.about_description{
    padding: 0 5rem;
}
